# Input function

In [1]:
print("Enter a number")
x = input()
print(x)

Enter a number
14
14

In [4]:
print("Enter two number: ")
a = input()
b = input()
c = a + b
print(type(c))
print(c)

Enter two number:
3
4
<class 'str'>
34

In [5]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = a + b
print(c)

Enter a: 4
Enter b: 5
9

In [10]:
##default argument
def avg(a=0, b=0, c=0):
    sum = a + b + c
    print(sum/2)
    
avg(5, 10, 15)
avg(10, 30)
avg(a=5, c =15)

15.0
20.0
10.0

# String Function

In [13]:
str1='Hello World'
print(str1)
print(type(str1))
print(str1[0])
print(str1[-1])
print(str1[0:5])
print(str1[-5:-1])
print(str1[::-1]) # string reverse

Hello World
<class 'str'>
H
d
Hello
Worl
dlroW olleH

In [42]:
s1='hello'
s2='Abhishek'
s3='Jagtap'
print(s1+s2)
print(s3*3)
print(s1.capitalize())
print(s2.swapcase())
print(s3.upper())
print(s3.lower())
print(len(s3))
print(max(s3)) #Max ASCII value in string
print(min(s3)) #Min ASCII value in string

helloAbhishek
JagtapJagtapJagtap
Hello
aBHISHEK
JAGTAP
jagtap
6
t
J

In [43]:
print(s1.isdigit())
print(s1.replace('l', 'd'))
print(s1)
print('h' in s1)
print('H' not in s1)
print(s2.find('h'))
print(s2.find('h',3))
print(s2.find('h',3,5))
print(s3.isalpha())
print('abc123'.isalpha())

for i in s1:
    print(i, end=" ")

False
heddo
hello
True
True
2
5
-1
True
False
h e l l o

In [36]:
s1="Hello"
print(s1)
s1[0]='D'
print(s1)

Hello

TypeError: 'str' object does not support item assignment

In [45]:
#palindrom
s1='sanas'
s2=s1[::-1]
print(s1)
print(s2)
if s1==s2:
    print("String is palindrome")
else:
    print("String is not palindrome")

sanas
sanas
String is palindrome

# List

In [47]:
l = [1, 2, 3, 4]
print(l)
print(type(l))

[1, 2, 3, 4]
<class 'list'>

In [51]:
print(l[0])
print(l[3])
print(l[-2])
print(1 in l)

1
4
3
True

In [53]:
l[2] = 9
print(l)
print(3 in l)

[1, 2, 9, 4]
False

In [64]:
#list of list
l = [1, 2, 3, [10, 20, 30], 4, 5, [22.3, 44.5, ['a', 'b', 'c'], 66.7]]
print(l)

[1, 2, 3, [10, 20, 30], 4, 5, [22.3, 44.5, ['a', 'b', 'c'], 66.7]]

In [65]:
print(l[3])
print(l[3][2])
print(l[6])
print(l[6][2])
print(l[6][2][1])

[10, 20, 30]
30
[22.3, 44.5, ['a', 'b', 'c'], 66.7]
['a', 'b', 'c']
b

In [66]:
l.remove(2)
print(l)

[1, 3, [10, 20, 30], 4, 5, [22.3, 44.5, ['a', 'b', 'c'], 66.7]]

In [67]:
del l[0]
print(l)

[3, [10, 20, 30], 4, 5, [22.3, 44.5, ['a', 'b', 'c'], 66.7]]

In [79]:
l1=[1, 2, 3]
l2=[3, 5, 4]
l3 = l1 + l2
print(l3)

[1, 2, 3, 3, 5, 4]

In [80]:
for i in l3:
    print(i, end=" ")

1 2 3 3 5 4

In [81]:
l3.pop()
print(l3)
l3.pop(1)
print(l3)

[1, 2, 3, 3, 5]
[1, 3, 3, 5]

In [100]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(l1)
print(l1[:])
print(l1[::-1])
print(l1[1])
print(l1[-1])
print(max(l1))
print(min(l1))
print(len(l1))
l1.insert(5, 0)
print(l1)
l1.append(1)
print(l1)
l1.sort()
print(l1)
l1.reverse()
print(l1)
print(l1*3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
2
9
9
1
9
[1, 2, 3, 4, 5, 0, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 0, 6, 7, 8, 9, 1]
[0, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 1, 0]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 1, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1, 1, 0, 9, 8, 7, 6, 5, 4, 3, 2, 1, 1, 0]

# Tuple

In [101]:
t= (1,2,3,4)
print(t)
print(type(t))

(1, 2, 3, 4)
<class 'tuple'>

In [104]:
#signle value tuple
t=(1,)
print(t)

(1,)

In [105]:
t = (1, 2, 3, 5, 6, 7, 0)
print(t[0])
print(t[3])
print(t[-2])
print(1 in t)

1
5
7
True

In [109]:
l1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(l1)
print(l1[:])
print(l1[::-1])
print(l1[1])
print(l1[-1])
print(max(l1))
print(min(l1))
print(len(l1))
print(l1)
print(l1*3)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(9, 8, 7, 6, 5, 4, 3, 2, 1)
2
9
9
1
9
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [110]:
t1 = (1,2 ,3)
t2 = (2,3 ,4)
print(t1 + t2)

(1, 2, 3, 2, 3, 4)

In [111]:
#variable arguments
def var(*args):
    print(type(args), end=" ")
    print(args)

var(1)
var(2,3,4,5)
var()

<class 'tuple'> (1,)
<class 'tuple'> (2, 3, 4, 5)
<class 'tuple'> ()

# Dictionary

In [113]:
d = {1: "Comp"}
print(d)
print(d[1])

{1: 'Comp'}
Comp

In [116]:
d = {"Comp": 1, "IT":2}
print(d)
print(d['IT'])
del d['IT']
print(d)
d.clear()
print(d)

{'Comp': 1, 'IT': 2}
2
{'Comp': 1}
{}

In [122]:
d = {1: "Comp", 2 : "IT"}
print(2 in d)
print(str(d))
print(len(d))
print(d.keys())
print(d.values())

True
{1: 'Comp', 2: 'IT'}
2
dict_keys([1, 2])
dict_values(['Comp', 'IT'])

In [123]:
d1 = {1: "Comp", 2 : "IT"}
d2 = {3: "EXTC", 2 : "Mech"}
d1.update(d2)
print(d1)

{1: 'Comp', 2: 'Mech', 3: 'EXTC'}

In [125]:
print(d1[1])
print(d1.get(1))

Comp
Comp

In [126]:
d = {1: ['A', 'B'], 2:['C', 'D']}
print(d)
print(d[1])

{1: ['A', 'B'], 2: ['C', 'D']}
['A', 'B']

In [131]:
d = {1: ['A', 'B'], 2:['C', 'D'], 3 : {1: 'A', 2: ['B', 'C']}}
print(d)
print(d[3])
print(d[3][2])

{1: ['A', 'B'], 2: ['C', 'D'], 3: {1: 'A', 2: ['B', 'C']}}
{1: 'A', 2: ['B', 'C']}
['B', 'C']