In [1]:
print("Hello World")

Hello World

In [3]:
print("Hello Abhishek")

Hello Abhishek

# Comment

In [4]:
#this is comment
print("comment")

comment

# Datatype

In [9]:
#int datatypes

n1 = 20
n2 = 30

n3 = n1 + n2
print(n3)

50

In [10]:
#float datatype

n1 = 20.50
n2 = 29.50

n3 = n1 + n2 
print(n3)

50.0

In [11]:
#String datatypes
str1 = "Hello World"
print(str1)

Hello World

In [12]:
type(str1)

str

In [14]:
type(n1)

float

# List

In [16]:
#list
list1 = [1 , 3 , "Abhishek", 20.5, [1, 5, "Hello world"]]

print(list1)

[1, 3, 'Abhishek', 20.5, [1, 5, 'Hello world']]

In [19]:
list1[2]

'Abhishek'

In [20]:
list1[4]

[1, 5, 'Hello world']

In [21]:
list1[4][2]

'Hello world'

In [22]:
##Dictonary

In [23]:
dict_value = {"Abhi": "IDIT", "Sonali":"IDIT", "Akshay":"Reinsurance"}

In [24]:
type(dict_value)

dict

In [25]:
dict_value.get("Abhi")

'IDIT'

In [26]:
dict_value.get("Akshay")

'Reinsurance'

In [27]:
dict_value.get("Vishal")

In [28]:
## Set

In [29]:
set1 = {23, 56, 20, 40, 20, 23}

In [30]:
print(set1)

{56, 40, 20, 23}

In [31]:
## tuples

In [32]:
tups = (10, "Hello", "Bye")
print(tups)

(10, 'Hello', 'Bye')

In [33]:
#tups have () list have []

In [34]:
tups.index(10)

0

In [35]:
tups[1]

'Hello'