In [1]:
#get current working directory
import os
os.getcwd()

'C:\\Users\\abhishek.jagtap\\Python Practice'

#RawNBConvert
This cell is not executable, This is normal cell can be type anything here

Markdown cell

Chapter 1
--
//dash dash added so chapter 1 will get bold

1. Topic 1
2. Topic 2

>1. Topic 1
>>a. Sub topic 1

>>b. Sub topic 2

>2. Topic 2

# Heading for H1 -  #
## Two hash for H2 - ##

In [4]:
print("Start from Here")

Start from Here

In [5]:
a = 20
b = 30
c = a + b
print(c)

50

In [11]:
print("Addition is " , c)

Addition is  50

In [13]:
print("Addition of", a, "and", b, "is:",c )

Addition of 20 and 30 is: 50

In [14]:
type(a)

int

In [16]:
d = 1+2j
type(d)

complex

In [27]:
str1 = "Hello World. Learning python"
print(str1)
print(len(str1))

Hello World. Learning python
28

In [30]:
#substring
print(str1[0])
print(str1[4])
print(str1[27])
print(str1[0:5])

H
o
n
Hello

In [21]:
print(str1[6:11])

World

In [38]:
print(str1[-1])
print(str1[-6:-1])
print(str1[-6:-1] + str1[-1])

n
pytho
python

In [44]:
#python use PEMDAS
#Paranthesis
#Exponential (raiseto **)
#Multiple Division (Left to right)
#Addition Subtraction (Left to right)

In [45]:
2-3+1

0

In [47]:
4*3/6

2.0

In [48]:
2**3

8

In [50]:
1+1**5-2

0

In [51]:
(1+1)**5-2

30

In [53]:
#String
#Concat use +
'3'+'2'

'32'

In [54]:
#Repetition string use *
3*'abc'

'abcabcabc'

In [55]:
'abc'*3

'abcabcabc'

In [56]:
#typeCasting
int('123')

123

In [57]:
type(int('123'))

int

In [58]:
float('1.43')

1.43

In [59]:
int('1.2')

ValueError: invalid literal for int() with base 10: '1.2'

In [60]:
int(float('1.2'))

1

In [65]:
str3 = str([2,3,4])
print(str3)

[2, 3, 4]

In [66]:
print(str3[0:4])

[2,

In [67]:
list('Abhishek')

['A', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [68]:
type(list('Abhishek'))

list

In [73]:
tuple(['Abhishek'])

('Abhishek',)

In [74]:
type(tuple(['Abhishek']))

tuple

In [75]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [81]:
#tuple
t = (1,2,3,4,5)
print(t[0])
t[0] = 5

1

TypeError: 'tuple' object does not support item assignment

In [85]:
#list
l = [1,2,3,4]
print(l)
print(l[0])
l[0]=6
print(l)

[1, 2, 3, 4]
1
[6, 2, 3, 4]