In [1]:
##Day 1 Assignment - Abhishek Jagtap

In [2]:
#List and its default functions

In [3]:
old_items = [10, 20, 30, 40, "John", "James", "Jill", "Jake", 20.5, 30.88]
print(old_items)

[10, 20, 30, 40, 'John', 'James', 'Jill', 'Jake', 20.5, 30.88]

In [4]:
items = old_items.copy()

In [5]:
old_items.clear()

In [6]:
print(old_items)

[]

In [7]:
print(items)

[10, 20, 30, 40, 'John', 'James', 'Jill', 'Jake', 20.5, 30.88]

In [8]:
items.reverse()
print(items)

[30.88, 20.5, 'Jake', 'Jill', 'James', 'John', 40, 30, 20, 10]

In [9]:
items.index(40)

6

In [10]:
items.append(50)
print(items)

[30.88, 20.5, 'Jake', 'Jill', 'James', 'John', 40, 30, 20, 10, 50]

In [11]:
items.reverse()
print(items)

[50, 10, 20, 30, 40, 'John', 'James', 'Jill', 'Jake', 20.5, 30.88]

In [12]:
items.pop()
items.pop()
print(items)

[50, 10, 20, 30, 40, 'John', 'James', 'Jill', 'Jake']

In [13]:
items.append(25)
print(items)

[50, 10, 20, 30, 40, 'John', 'James', 'Jill', 'Jake', 25]

In [14]:
list.remove(items, "John")
list.remove(items, "Jill")
list.remove(items, "Jake")
list.remove(items, "James")
print(items)

[50, 10, 20, 30, 40, 25]

In [15]:
items.sort()
print(items)

[10, 20, 25, 30, 40, 50]

In [16]:
items.append(20)

In [17]:
items.count(20)

2

In [18]:
#Dictonay and its default functions

In [19]:
cities = {"Maharastra":"Mumbai", "Karnataka":"Bangalore", "Gujarat":"Surat"}

In [20]:
cities.get("Maharastra")

'Mumbai'

In [21]:
cities["Bihar"] = "Patna"

In [22]:
print(cities)

{'Maharastra': 'Mumbai', 'Karnataka': 'Bangalore', 'Gujarat': 'Surat', 'Bihar': 'Patna'}

In [23]:
cities.pop("Gujarat")
print(cities)

{'Maharastra': 'Mumbai', 'Karnataka': 'Bangalore', 'Bihar': 'Patna'}

In [24]:
cities.popitem()
print(cities)

{'Maharastra': 'Mumbai', 'Karnataka': 'Bangalore'}

In [25]:
print(cities.values())

dict_values(['Mumbai', 'Bangalore'])

In [26]:
cities.update({"Karnataka" : "Udapi"})
print(cities)

{'Maharastra': 'Mumbai', 'Karnataka': 'Udapi'}

In [27]:
print(cities.items())

dict_items([('Maharastra', 'Mumbai'), ('Karnataka', 'Udapi')])

In [28]:
cities.clear()
print(cities)

{}

In [29]:
keys = {'a', 'e', 'i', 'o', 'u' }
values = "vowels"
vowels = dict.fromkeys(keys, values)
print(vowels)

{'e': 'vowels', 'a': 'vowels', 'o': 'vowels', 'i': 'vowels', 'u': 'vowels'}

In [30]:
#Set and its default values

In [31]:
person = {1, "Abhishek", 25, "Bangalore", 9000033221}

In [32]:
print(person)

{1, 9000033221, 'Abhishek', 'Bangalore', 25}

In [33]:
person.clear()

In [34]:
print(person)

set()

In [35]:
A = {10, 20, 30, 40}
B = {30, 40, 50, 60}

In [36]:
print(A.difference(B))

{10, 20}

In [37]:
print(B.difference(A))

{50, 60}

In [38]:
print(A)

{40, 10, 20, 30}

In [39]:
A.difference_update(B)
print(A)

{20, 10}

In [40]:
print(B)

{40, 50, 60, 30}

In [41]:
B = A.copy()
print(B)

{10, 20}

In [42]:
B.discard(10)
print(B)

{20}

In [43]:
A = {10, 20, 30, 40}
B = {30, 40, 50, 60}
print (A.intersection(B))

{40, 30}

In [44]:
print(A)

{40, 10, 20, 30}

In [45]:
print(A.isdisjoint(B))

False

In [46]:
C = {30, 40}
print(C.issubset(A))

True

In [47]:
print(A.issuperset(C))

True

In [48]:
print(A.symmetric_difference(B))

{10, 50, 20, 60}

In [49]:
print(A.union(B, C))

{40, 10, 50, 20, 60, 30}